.gitignore

# PyInstaller
build/
dist/
old/
#*.spec
source/*.json
source/*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store